@page "/person/create"
@inject IPersonRepository personRepository
@inject NavigationManager navigationManager
<h3>Create Person</h3>

<PersonForm Person="person" OnValidSubmit="Create" />

@code {
    private Person person = new Person();

    private async Task Create()
    {
        Console.WriteLine("creating person...");
        Console.WriteLine(person.Name);
        try
        {
            await personRepository.CreatePerson(person);
            //A página entre aspas é quem? o que está assinalado no @page
            navigationManager.NavigateTo("people");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Erro");
            Console.WriteLine(ex.Message);
            //throw;
        }
    }
}
